/* .flex-container{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content:flex-end;
  justify-content: flex-start;
  justify-content: center;
   flex-wrap: wrap;
  flex-flow: row wrap;
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-direction: row-reverse;
  background: dodgerblue;
}

.flex-container > div{
  background: #f1f1f1;
  width: 80px;
  text-align: center;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
} */

 * {
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  font-size: 30px;
  text-align: center;
  flex-wrap: wrap;
}

.flex-box-left{
  background: dodgerblue;
  padding: 10px;
  flex: 50%;
}

.flex-box-right{
  background: green;
  padding: 10px;
  flex: 50%;
}

@media (max-width: 800px){
  .flex-box-left,.flex-box-right{
    flex: 100%;
  }
}
