/*
====================================================================================================================================================================
                                                    Start Premium Plus Page
====================================================================================================================================================================
*/

div.monthly{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 200px;
  top: 300px;
}

div.annual{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 600px;
  top: 300px;
}

div.lifetime{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 1000px;
  top: 300px;
}
/*
====================================================================================================================================================================
                                                    End Premium Plus Page
====================================================================================================================================================================
*/




/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer{
  background: #172035;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 80px;
  top: 700px;
}

p#footer{
  text-align: center;
  font-size: 1em;
  color: white;
  margin-top: 32px;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
